@use "sass:color";

:root,
html {
  box-sizing: border-box;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  font-size: $font-size-base;
  color: var(--#{$prefix}body-color);
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 63px;
}

.nftt-page {
  flex: 1 0 auto;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;

  @include media-breakpoint-up(xl) {
    display: grid;
    grid-template-areas: "sidebar content toc";
    grid-template-columns: minmax(300px, 1.5fr) minmax(570px, 760px) minmax(190px, 1.3fr);
    gap: 25px;
  }

  @include media-breakpoint-down(xl) {
    display: grid;
    grid-template-areas: "content toc";
    grid-template-columns: minmax(570px, 5fr) minmax(210px, 1fr);
  }

  @include media-breakpoint-down(lg) {
    display: grid;
    grid-template-areas:
      "toc"
      "content";
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
    max-width: 892px;
    margin-inline: auto;
    margin-top: 1.5rem;
  }

  @include media-breakpoint-down(lg) {
    row-gap: 0;
    column-gap: 18px;
    margin-top: 0;
  }
}

.nftt-sidebar {
  grid-area: sidebar;

  @include media-breakpoint-up(xl) {
    position: sticky;
    top: 6rem;
    z-index: 2;
    display: block;
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory !important;
    border-right: 1px solid var(--#{$prefix}border-color);

    @include scrollbars();

    .nftt-sidebar-content {
      max-width: 320px;
      margin-left: auto;
    }
  }

  .project-logo {
    width: 92%;
    height: 92%;
    aspect-ratio: auto;
    margin-right: 1rem;
  }
}

.nftt-toc {
  grid-area: toc;

  code,
  code * {
    font-family: var(--#{$prefix}font-monospace);
    font-size: .8rem;
  }

  @include media-breakpoint-down(lg) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

}


.nftt-content {
  grid-area: content;
  min-width: 1px;  // Fix width when nftt-content contains a `<pre>`. See https://github.com/twbs/bootstrap/issues/25410
  font-family: var(--#{$prefix}documentation-font);
  font-size: var(--#{$prefix}documentation-font-size);

  @include media-breakpoint-down(xl) {
    padding-right: 2rem;
    padding-left: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--#{$prefix}doc-headers-font);
  }
}

.nftt-footer {
  > :nth-child(1) {
    background-color: var(--#{$prefix}foot1-bg);
  }

  > :nth-child(2) {
    background-color: var(--#{$prefix}foot2-bg);
  }

  .prev-page {
    padding-right: .7rem;
    color: $primary;
  }

  .next-page {
    padding-left: .7rem;
    color: $primary;
  }

  .col-title {
    color: var(--#{$prefix}body-color);
    border-bottom: 2px solid var(--#{$prefix}border-color);
  }

  a {
    color: var(--#{$prefix}foot2-link1);
  }

  a:hover,
  a:focus {
    color: var(--#{$prefix}foot2-link-hover);
    text-decoration-color: currentcolor;
  }

  .brand-text {
    font-family: var(--nftt-project-name-font);
    font-weight: 700;
    color: var(--#{$prefix}foot2-link-hover);
  }

  .list-unstyled {
    font-size: .9rem;

    li {
      display: inline;
      color: var(--#{$prefix}foot2-link1);

      @include media-breakpoint-down(lg) {
        display: block;
        width: 100%;
      }
    }
  }

  .list-unstyled.list-separator {
    li {
      color: var(--#{$prefix}foot2-link1);

      + li::before {
        font-family: Verdana, Tahoma, sans-serif;
        content: "\002022";

        @include media-breakpoint-down(xl) {
          display: none;
        }
      }
    }
  }

  .list-item {
    display: inline-block;
    padding: .2rem 1rem;
    margin: .5rem .2rem;
    color: var(--#{$prefix}foot2-link2);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;

    &:hover {
      color: var(--#{$prefix}foot2-link-hover);
      background-color: var(--#{$prefix}foot2-link-bg);
    }

    @include media-breakpoint-down(xl) {
      padding: .2rem 1rem;
      margin: .2rem;
    }
  }

  .built-with {
    font-size: .7rem;
    color: var(--#{$prefix}secondary-color);

    a {
      color: var(--#{$prefix}secondary-color);
      // text-decoration: none;
      text-decoration-thickness: 1px;
      text-decoration-color: var(--#{$prefix}tertiary-color);

      &:hover {
        color: var(--#{$prefix}foot2-link-hover);
        text-decoration-color: var(--#{$prefix}foot2-link-hover);
      }
    }
  }
}

#back-to-top-container {
  top: 84px;  // default, changed in backtotop.js.
  z-index: 1;
}
