/* stylelint-disable selector-no-qualifying-type */
@use "sass:color";

strong {
  font-weight: var(--#{$prefix}strong-font-weight);
}

.btn-primary,
.btn-primary:hover {
  @include box-shadow($primary);
}

.btn-secondary,
.btn-secondary:hover {
  @include box-shadow($secondary);
}

.btn-secondary:focus,
.btn-secondary:not([disabled]):not(.disabled):active,
.btn-secondary:not([disabled]):not(.disabled).active {
  box-shadow: 0 0 0 .2rem rgba($gray-200, .5);
}

.btn-success,
.btn-success:hover {
  @include box-shadow($success);
}

.btn-info,
.btn-info:hover {
  @include box-shadow($info);
}

.btn-warning,
.btn-warning:hover {
  @include box-shadow($warning);
}

.btn-danger,
.btn-danger:hover {
  @include box-shadow($danger);
}

.btn-dark,
.btn-dark:hover {
  @include box-shadow($dark);
}

.btn-light,
.btn-light:hover {
  @include box-shadow($light);
}

.btn-outline-secondary {
  color: $gray-400;
  border-color: $gray-400;

  &:hover {
    color: $white;
    background-color: $gray-400;
  }
}

.btn-neutral {
  --#{$prefix}btn-color: var(--#{$prefix}btn-neutral-color);
  --#{$prefix}btn-bg: var(--#{$prefix}btn-neutral-bg);
  --#{$prefix}btn-border-color: var(--#{$prefix}btn-neutral-border-color);
  --#{$prefix}btn-hover-color: var(--#{$prefix}btn-neutral-hover-color);
  --#{$prefix}btn-hover-bg: var(--#{$prefix}btn-neutral-hover-bg);
  --#{$prefix}btn-hover-border-color: var(--#{$prefix}btn-neutral-hover-border-color);
  --#{$prefix}btn-focus-shadow-rgb: var(--#{$prefix}btn-neutral-focus-shadow-rgb);
  --#{$prefix}btn-active-color: var(--#{$prefix}btn-neutral-active-color);
  --#{$prefix}btn-active-bg: var(--#{$prefix}btn-neutral-active-bg);
  --#{$prefix}btn-active-border-color: var(--#{$prefix}btn-neutral-active-border-color);
  --#{$prefix}btn-active-shadow: var(--#{$prefix}btn-neutral-active-shadow);
  --#{$prefix}btn-disable-color: var(--#{$prefix}btn-neutral-disable-color);
  --#{$prefix}btn-disable-bg: var(--#{$prefix}btn-neutral-disable-bg);
  --#{$prefix}btn-disable-border-color: var(--#{$prefix}btn-neutral-disable-border-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--#{$prefix}headings-color);
}

.text-secondary {
  color: $gray-600 !important;
}

.text-small {
  font-size: .8rem;
}


legend,
label {
  color: $headings-color;
}


// -------------------------
// breadcrumb dividers for light and dark color schemes.
// Given that the need to be preprocess in sass with escave-svg,
// css variables can't be used.

$scheme-light-breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#{$scheme-light-body-color}'/></svg>");
$scheme-dark-breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#{$scheme-dark-body-color}'/></svg>");

.breadcrumb-item {
  + .breadcrumb-item {
    padding-left: var(--#{$prefix}breadcrumb-item-padding-x);

    .light &::before {
      float: left; // Suppress inline spacings and underlining of the separator
      padding-right: var(--#{$prefix}breadcrumb-item-padding-x);
      color: var(--#{$prefix}body-color);
      content: var(--#{$prefix}breadcrumb-divider, escape-svg($scheme-light-breadcrumb-divider));
    }

    .dark &::before {
      float: left; // Suppress inline spacings and underlining of the separator
      padding-right: var(--#{$prefix}breadcrumb-item-padding-x);
      color: var(--#{$prefix}body-color);
      content: var(--#{$prefix}breadcrumb-divider, escape-svg($scheme-dark-breadcrumb-divider));
    }
  }
}

.pagination {
  .page-link:hover {
    text-decoration: none;
  }
}


.badge {
  &.bg-secondary,
  &.bg-light {
    color: $dark;
  }
}


.bi.size-14::before {
  display: flex;
  font-size: 14px;
}

.bi.size-24::before {
  display: flex;
  font-size: 24px;
}


pre {
  padding: $font-size-base;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: var(--nftt-pre-line-height, 140%);
  border: 1px solid var(--#{$prefix}pre-border-color);
  border-radius: 8px;
}

.dark pre,
.light pre {
  line-height: var(--nftt-pre-line-height, 140%);
}

.tab-content {
  .highlight pre {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.sd-tab-set {
  > label {
    font-size: .875rem;
  }

  > input:checked + label {
    color: var(--#{$prefix}link-color);
    border-color: var(--#{$prefix}link-border-color);
  }

  > input:not(:checked) + label:hover {
    color: var(--#{$prefix}link-hover-color);
    border-color: var(--#{$prefix}link-hover-color);
  }

  > input:not(:checked):not(.focus-visible) + label {
    color: var(--#{$prefix}secondary-color);
  }
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 10px;  /* To override the background provided by pygments. */
}

.only-code-tab {
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: none;

  .highlight {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    pre {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

pre,
pre *,
code,
code *,
kbd,
kbd *,
samp,
samp *,
.text-monospace,
.text-monospace * {
  font-family: var(--#{$prefix}font-monospace);
  font-size: var(--#{$prefix}monospace-font-size);
  font-weight: var(--#{$prefix}monospace-font-weight);
}

.blue { color: $blue; }
.indigo { color: $indigo; }
.purple { color: $purple; }
.pink { color: $pink; }
.red { color: $red; }
.orange { color: $orange; }
.yellow { color: $yellow; }
.green { color: $green; }
.teal { color: $teal; }
.cyan { color: $cyan; }

.blue-bg {
  color: white;
  background-color: $blue;
}
.indigo-bg {
  color: white;
  background-color: $indigo;
}
.purple-bg {
  color: white;
  background-color: $purple;
}
.pink-bg {
  color: white;
  background-color: $pink;
}
.red-bg {
  color: white;
  background-color: $red;
}
.orange-bg {
  color: black;
  background-color: $orange;
}
.yellow-bg {
  color: black;
  background-color: $yellow;
}
.green-bg {
  color: white;
  background-color: $green;
}
.teal-bg {
  color: black;
  background-color: $teal;
}
.cyan-bg {
  color: black;
  background-color: $cyan;
}

blockquote {
  padding: var(--#{$prefix}blockquote-padding);
  margin: var(--#{$prefix}blockquote-margin);
  font-size: var(--#{$prefix}blockquote-font-size);
  font-style: var(--#{$prefix}blockquote-font-style);
  background-color: var(--#{$prefix}tertiary-bg);
  border-radius: var(--#{$prefix}blockquote-border-radius);

  .attribution {
    padding-top: .8rem;
    font-size: .9em;
    font-style: normal;
    font-weight: 400;
    text-align: right;
  }

  &.epigraph,
  &.pull-quote,
  &.highlights {
    padding: 0;
    margin: 2rem 2rem 3rem;
    background-color: var(--#{$prefix}body-bg);
  }
}

.line-block {
  margin-bottom: 1rem;
  margin-left: 0;

  & & {
    margin-left: 1rem;
  }
}

.search-input {
  @include media-breakpoint-up(xl) {
    max-width: 10rem;
  }

  @include media-breakpoint-down(xl) {
    max-width: none;
  }
}
