section::before {
  display: table;
  clear: both;
  content: "";
}

.nftt-gutter {
  --bs-gutter-x: 3rem;
}

dd {
  margin: .5rem 0 .5rem .5rem;
}

.field-list {
  display: grid;
  grid-template-columns: fit-content(30%) auto;

  dt {
    padding-right: 16px;
    padding-left: .5rem;
    font-family: var(--#{$prefix}font-monospace);
    font-size: .95rem;
    // word-break: break-word;  Commented to fix issue #83.
  }

  dd {
    margin: 0;
    overflow-x: scroll;
  }

  p {
    margin-bottom: 0;
  }

  ul,
  ol,
  dl {
    margin-bottom: 0;
  }

}

.task-list-item-checkbox {
  @extend .form-check-input;
}

.border-radius-1 {
  border-radius: 4px;
}

.border-radius-2 {
  border-radius: 8px;
}

.border-radius-3 {
  border-radius: 12px;
}

.border-tl-radius-0 {
  border-top-left-radius: 0;
}
.border-tr-radius-0 {
  border-top-right-radius: 0;
}
.border-bl-radius-0 {
  border-bottom-left-radius: 0;
}
.border-br-radius-0 {
  border-bottom-right-radius: 0;
}

.highlighted {
  font-weight: 700;
  color: var(--#{$prefix}term-highlighted);
}

.fs085 {
  font-size: .85rem;
}

.mermaid-container {
  position: relative;
}

.mermaid-fullscreen-btn {
  position: absolute;
  z-index: 10;
}
