@use "sass:color";

$prefix: nftt-;
$font-size-base: 1rem;
$enable-shadows: true !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
// $gray-900: #212529 !default;
$gray-901: #181b1e !default;
$black:    #000 !default;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #078349 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$teal-100: tint-color($teal, 80%) !default;
$teal-200: tint-color($teal, 60%) !default;
$teal-300: tint-color($teal, 40%) !default;
$teal-400: tint-color($teal, 20%) !default;
$teal-500: $teal !default;
$teal-600: shade-color($teal, 20%) !default;
$teal-700: shade-color($teal, 40%) !default;
$teal-800: shade-color($teal, 60%) !default;
$teal-900: shade-color($teal, 80%) !default;

$blue-200: tint-color($blue, 60%) !default;
$blue-600: shade-color($blue, 20%) !default;
$cyan-200: tint-color($cyan, 60%) !default;
$cyan-700: shade-color($cyan, 40%) !default;
$yellow-300: tint-color($yellow, 40%) !default;
$yellow-700: shade-color($yellow, 40%) !default;
$orange-300: tint-color($orange, 40%) !default;
$orange-700: shade-color($orange, 40%) !default;
$pink-200: tint-color($pink, 60%) !default;
$pink-700: shade-color($pink, 40%) !default;
$red-200: tint-color($red, 60%) !default;
$red-600: shade-color($red, 20%) !default;

$primary:       $teal !default;
$secondary:     $white !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $purple !default;
$light:         $white !default;
$dark:          $gray-800 !default;

// Body ----------------------------------------------------------------

// scheme-color light.
$scheme-light-body-color: $black;
$scheme-light-body-hc-color: $gray-800;
$scheme-light-body-bg: $gray-100;
$scheme-light-neutral-bg: $teal-100;
$scheme-light-body-secondary-color: rgba($scheme-light-body-color, .75) !default;
$scheme-light-body-secondary-bg: $teal-100 !default;
$scheme-light-body-tertiary-color: rgba($scheme-light-body-color, .8) !default;
$scheme-light-body-tertiary-bg: $gray-100 !default;
$scheme-light-body-emphasis-color: $black !default;
$scheme-light-pre-border-color: $gray-400;
$scheme-light-foot1-bg: #fff;
$scheme-light-foot2-bg: $teal-100;
$scheme-light-foot2-link1: get-color-contrast($scheme-light-foot2-bg, 15%);
$scheme-light-foot2-link2: get-color-contrast($scheme-light-foot2-bg, 30%);
$scheme-light-foot2-link-bg: color.scale($scheme-light-foot2-bg, $lightness: -10%, $saturation: 30%);
$scheme-light-foot2-link-hover: get-color-contrast($scheme-light-foot2-bg, 0%);
$scheme-light-headings-color: $black;
$scheme-light-border-color: $gray-400;
$scheme-light-border-color-translucent: rgba($black, .175) !default;
$scheme-light-link-color: $teal-600;
$scheme-light-link-hover-color: $teal-800;
$scheme-light-link-border-color: lighten($scheme-light-link-color, 45%);
$scheme-light-link-active-color: shade-color($scheme-light-link-color, 75%);
$scheme-light-link-decoration-color: $teal-200;
$scheme-light-link-decoration-color-rgb: #{to-rgb($teal-200)};
$scheme-light-code-color: #c63477;
$scheme-light-admon-svg-color: black;
$scheme-light-admon-attention-color-bg: $yellow-300;
$scheme-light-admon-caution-color-bg: $orange-300;
$scheme-light-admon-danger-color-bg: $pink-200;
$scheme-light-admon-error-color-bg: $red-200;
$scheme-light-admon-important-color-bg: $blue-200;
$scheme-light-admon-note-color-bg: $cyan-200;
$scheme-light-admon-tip-color-bg: $teal-300;
$scheme-light-table-bg: white;
$scheme-light-table-striped-bg: tint-color($teal, 90%);
$scheme-light-term-highlighted: $yellow;

// scheme-color dark.
$scheme-dark-body-color: $gray-100;
$scheme-dark-body-hc-color: $white;
$scheme-dark-body-bg: $gray-901;
$scheme-dark-neutral-bg: $teal-900;
$scheme-dark-body-secondary-color: rgba($scheme-dark-body-color, .75) !default;
$scheme-dark-body-secondary-bg: $gray-800 !default;
$scheme-dark-body-tertiary-color: rgba($scheme-dark-body-color, .5) !default;
$scheme-dark-body-tertiary-bg: mix($gray-800, $gray-901, 50%) !default;
$scheme-dark-body-emphasis-color: $white !default;
$scheme-dark-pre-border-color: $gray-700;
$scheme-dark-foot1-bg: $gray-800;
$scheme-dark-foot2-bg: $teal-800;
$scheme-dark-foot2-link1: get-color-contrast($scheme-dark-foot2-bg, 15%);
$scheme-dark-foot2-link2: get-color-contrast($scheme-dark-foot2-bg, 26%);
$scheme-dark-foot2-link-bg: color.scale($scheme-dark-foot2-bg, $lightness: 10%, $saturation: 30%);
$scheme-dark-foot2-link-hover: get-color-contrast($scheme-dark-foot2-bg, 0%);
$scheme-dark-headings-color: $gray-100;
$scheme-dark-border-color: rgba($gray-500, .175);
$scheme-dark-border-color-translucent: rgba($white, .15) !default;
$scheme-dark-link-color: $teal-100;
$scheme-dark-link-hover-color: $teal-400;
$scheme-dark-link-border-color: lighten($scheme-dark-link-color, 45%);
$scheme-dark-link-active-color: shade-color($scheme-dark-link-color, 75%);
$scheme-dark-link-decoration-color: $teal-500;
$scheme-dark-link-decoration-color-rgb: #{to-rgb($teal-500)};
$scheme-dark-code-color: #ff65f7;
$scheme-dark-admon-svg-color: white;
$scheme-dark-admon-attention-color-bg: shade-color($yellow-700, 5%);
$scheme-dark-admon-caution-color-bg: $orange-700;
$scheme-dark-admon-danger-color-bg: $pink-700;
$scheme-dark-admon-error-color-bg: $red-600;
$scheme-dark-admon-important-color-bg: $blue-600;
$scheme-dark-admon-note-color-bg: $cyan-700;
$scheme-dark-admon-tip-color-bg: $teal-700;
$scheme-dark-table-bg: shade-color($gray-800, 70%);
$scheme-dark-table-striped-bg: $gray-901;
$scheme-dark-term-highlighted: $yellow;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Navbar

$navbar-dark-color: rgba($black, .75);
$navbar-dark-hover-color: $black;
$navbar-dark-disabled-color: $gray-500;
$navbar-dark-active-color: $teal-900;
$navbar-dark-brand-color: $black;
$navbar-dark-brand-hover-color: $black;

// -------------------------
// API docs

$docapi-dark-kw-color: $blue-200;
$docapi-light-kw-color: $blue-600;

// -------------------------
// shadow for light and dark.
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
