*.egg
*.egg-info
*.pyc
*.sass-cache
.coverage
.eggs/
.tox
.idea/
build/
_build/
venv/
dist/
docs/_build
docs/build
docs/source/_static/nftt-pygments*
node_modules
.cache
js/coverage/
site/css/sphinx-nefertiti*
site/css/nftt-pygments*
site/js/
site/karma/
tests/sample_prj_?/_build/
docs/source/_static/sphinx-nefertiti-*.css
docs/source/_static/sphinx-nefertiti-*.css.map
