*.egg
*.egg-info
*.pyc
*.sass-cache
.coverage
.eggs/
.tox
build/
venv/
dist/
docs/_build
docs/build
docs/source/_static/nftt-pygments*
node_modules
.cache
js/coverage/
site/css/sphinx-nefertiti*
site/css/nftt-pygments*
site/js/
site/karma/
sphinx_nefertiti/static/*.min.js*
sphinx_nefertiti/colorsets/sphinx-nefertiti*.min.css*
