.dark pre { line-height: 125%; }
.dark td.linenos .normal { color: #f1fa8c; background-color: #44475a; padding-left: 5px; padding-right: 5px; }
.dark span.linenos { color: #f1fa8c; background-color: #44475a; padding-left: 5px; padding-right: 5px; }
.dark td.linenos .special { color: #50fa7b; background-color: #6272a4; padding-left: 5px; padding-right: 5px; }
.dark span.linenos.special { color: #50fa7b; background-color: #6272a4; padding-left: 5px; padding-right: 5px; }
.dark .highlight .hll { background-color: #44475a }
.dark .highlight { background: #282a36; color: #f8f8f2 }
.dark .highlight .c { color: #6272a4 } /* Comment */
.dark .highlight .err { color: #f8f8f2 } /* Error */
.dark .highlight .g { color: #f8f8f2 } /* Generic */
.dark .highlight .k { color: #ff79c6 } /* Keyword */
.dark .highlight .l { color: #f8f8f2 } /* Literal */
.dark .highlight .n { color: #f8f8f2 } /* Name */
.dark .highlight .o { color: #ff79c6 } /* Operator */
.dark .highlight .x { color: #f8f8f2 } /* Other */
.dark .highlight .p { color: #f8f8f2 } /* Punctuation */
.dark .highlight .ch { color: #6272a4 } /* Comment.Hashbang */
.dark .highlight .cm { color: #6272a4 } /* Comment.Multiline */
.dark .highlight .cp { color: #ff79c6 } /* Comment.Preproc */
.dark .highlight .cpf { color: #6272a4 } /* Comment.PreprocFile */
.dark .highlight .c1 { color: #6272a4 } /* Comment.Single */
.dark .highlight .cs { color: #6272a4 } /* Comment.Special */
.dark .highlight .gd { color: #8b080b } /* Generic.Deleted */
.dark .highlight .ge { color: #f8f8f2; text-decoration: underline } /* Generic.Emph */
.dark .highlight .gr { color: #f8f8f2 } /* Generic.Error */
.dark .highlight .gh { color: #f8f8f2; font-weight: bold } /* Generic.Heading */
.dark .highlight .gi { color: #f8f8f2; font-weight: bold } /* Generic.Inserted */
.dark .highlight .go { color: #44475a } /* Generic.Output */
.dark .highlight .gp { color: #f8f8f2 } /* Generic.Prompt */
.dark .highlight .gs { color: #f8f8f2 } /* Generic.Strong */
.dark .highlight .gu { color: #f8f8f2; font-weight: bold } /* Generic.Subheading */
.dark .highlight .gt { color: #f8f8f2 } /* Generic.Traceback */
.dark .highlight .kc { color: #ff79c6 } /* Keyword.Constant */
.dark .highlight .kd { color: #8be9fd; font-style: italic } /* Keyword.Declaration */
.dark .highlight .kn { color: #ff79c6 } /* Keyword.Namespace */
.dark .highlight .kp { color: #ff79c6 } /* Keyword.Pseudo */
.dark .highlight .kr { color: #ff79c6 } /* Keyword.Reserved */
.dark .highlight .kt { color: #8be9fd } /* Keyword.Type */
.dark .highlight .ld { color: #f8f8f2 } /* Literal.Date */
.dark .highlight .m { color: #ffb86c } /* Literal.Number */
.dark .highlight .s { color: #bd93f9 } /* Literal.String */
.dark .highlight .na { color: #50fa7b } /* Name.Attribute */
.dark .highlight .nb { color: #8be9fd; font-style: italic } /* Name.Builtin */
.dark .highlight .nc { color: #50fa7b } /* Name.Class */
.dark .highlight .no { color: #f8f8f2 } /* Name.Constant */
.dark .highlight .nd { color: #f8f8f2 } /* Name.Decorator */
.dark .highlight .ni { color: #f8f8f2 } /* Name.Entity */
.dark .highlight .ne { color: #f8f8f2 } /* Name.Exception */
.dark .highlight .nf { color: #50fa7b } /* Name.Function */
.dark .highlight .nl { color: #8be9fd; font-style: italic } /* Name.Label */
.dark .highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.dark .highlight .nx { color: #f8f8f2 } /* Name.Other */
.dark .highlight .py { color: #f8f8f2 } /* Name.Property */
.dark .highlight .nt { color: #ff79c6 } /* Name.Tag */
.dark .highlight .nv { color: #8be9fd; font-style: italic } /* Name.Variable */
.dark .highlight .ow { color: #ff79c6 } /* Operator.Word */
.dark .highlight .pm { color: #f8f8f2 } /* Punctuation.Marker */
.dark .highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.dark .highlight .mb { color: #ffb86c } /* Literal.Number.Bin */
.dark .highlight .mf { color: #ffb86c } /* Literal.Number.Float */
.dark .highlight .mh { color: #ffb86c } /* Literal.Number.Hex */
.dark .highlight .mi { color: #ffb86c } /* Literal.Number.Integer */
.dark .highlight .mo { color: #ffb86c } /* Literal.Number.Oct */
.dark .highlight .sa { color: #bd93f9 } /* Literal.String.Affix */
.dark .highlight .sb { color: #bd93f9 } /* Literal.String.Backtick */
.dark .highlight .sc { color: #bd93f9 } /* Literal.String.Char */
.dark .highlight .dl { color: #bd93f9 } /* Literal.String.Delimiter */
.dark .highlight .sd { color: #bd93f9 } /* Literal.String.Doc */
.dark .highlight .s2 { color: #bd93f9 } /* Literal.String.Double */
.dark .highlight .se { color: #bd93f9 } /* Literal.String.Escape */
.dark .highlight .sh { color: #bd93f9 } /* Literal.String.Heredoc */
.dark .highlight .si { color: #bd93f9 } /* Literal.String.Interpol */
.dark .highlight .sx { color: #bd93f9 } /* Literal.String.Other */
.dark .highlight .sr { color: #bd93f9 } /* Literal.String.Regex */
.dark .highlight .s1 { color: #bd93f9 } /* Literal.String.Single */
.dark .highlight .ss { color: #bd93f9 } /* Literal.String.Symbol */
.dark .highlight .bp { color: #f8f8f2; font-style: italic } /* Name.Builtin.Pseudo */
.dark .highlight .fm { color: #50fa7b } /* Name.Function.Magic */
.dark .highlight .vc { color: #8be9fd; font-style: italic } /* Name.Variable.Class */
.dark .highlight .vg { color: #8be9fd; font-style: italic } /* Name.Variable.Global */
.dark .highlight .vi { color: #8be9fd; font-style: italic } /* Name.Variable.Instance */
.dark .highlight .vm { color: #8be9fd; font-style: italic } /* Name.Variable.Magic */
.dark .highlight .il { color: #ffb86c } /* Literal.Number.Integer.Long */