.light pre { line-height: 125%; }
.light td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.light span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.light td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.light span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.light .highlight .hll { background-color: #ffffcc }
.light .highlight { background: #ffffff; }
.light .highlight .c { color: #888888 } /* Comment */
.light .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.light .highlight .k { color: #008800; font-weight: bold } /* Keyword */
.light .highlight .ch { color: #888888 } /* Comment.Hashbang */
.light .highlight .cm { color: #888888 } /* Comment.Multiline */
.light .highlight .cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.light .highlight .cpf { color: #888888 } /* Comment.PreprocFile */
.light .highlight .c1 { color: #888888 } /* Comment.Single */
.light .highlight .cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.light .highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.light .highlight .ge { font-style: italic } /* Generic.Emph */
.light .highlight .gr { color: #aa0000 } /* Generic.Error */
.light .highlight .gh { color: #333333 } /* Generic.Heading */
.light .highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.light .highlight .go { color: #888888 } /* Generic.Output */
.light .highlight .gp { color: #555555 } /* Generic.Prompt */
.light .highlight .gs { font-weight: bold } /* Generic.Strong */
.light .highlight .gu { color: #666666 } /* Generic.Subheading */
.light .highlight .gt { color: #aa0000 } /* Generic.Traceback */
.light .highlight .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.light .highlight .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.light .highlight .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.light .highlight .kp { color: #008800 } /* Keyword.Pseudo */
.light .highlight .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.light .highlight .kt { color: #888888; font-weight: bold } /* Keyword.Type */
.light .highlight .m { color: #0000DD; font-weight: bold } /* Literal.Number */
.light .highlight .s { color: #d12000; background-color: #fff0f0 } /* Literal.String */
.light .highlight .na { color: #336699 } /* Name.Attribute */
.light .highlight .nb { color: #003388 } /* Name.Builtin */
.light .highlight .nc { color: #bb0066; font-weight: bold } /* Name.Class */
.light .highlight .no { color: #003366; font-weight: bold } /* Name.Constant */
.light .highlight .nd { color: #555555 } /* Name.Decorator */
.light .highlight .ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.light .highlight .nf { color: #0066bb; font-weight: bold } /* Name.Function */
.light .highlight .nl { color: #336699; font-style: italic } /* Name.Label */
.light .highlight .nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.light .highlight .py { color: #336699; font-weight: bold } /* Name.Property */
.light .highlight .nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.light .highlight .nv { color: #336699 } /* Name.Variable */
.light .highlight .ow { color: #008800 } /* Operator.Word */
.light .highlight .w { color: #bbbbbb } /* Text.Whitespace */
.light .highlight .mb { color: #0000DD; font-weight: bold } /* Literal.Number.Bin */
.light .highlight .mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.light .highlight .mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.light .highlight .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.light .highlight .mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.light .highlight .sa { color: #d12000; background-color: #fff0f0 } /* Literal.String.Affix */
.light .highlight .sb { color: #d12000; background-color: #fff0f0 } /* Literal.String.Backtick */
.light .highlight .sc { color: #d12000; background-color: #fff0f0 } /* Literal.String.Char */
.light .highlight .dl { color: #d12000; background-color: #fff0f0 } /* Literal.String.Delimiter */
.light .highlight .sd { color: #d12000; background-color: #fff0f0 } /* Literal.String.Doc */
.light .highlight .s2 { color: #d12000; background-color: #fff0f0 } /* Literal.String.Double */
.light .highlight .se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.light .highlight .sh { color: #d12000; background-color: #fff0f0 } /* Literal.String.Heredoc */
.light .highlight .si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.light .highlight .sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.light .highlight .sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.light .highlight .s1 { color: #d12000; background-color: #fff0f0 } /* Literal.String.Single */
.light .highlight .ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.light .highlight .bp { color: #003388 } /* Name.Builtin.Pseudo */
.light .highlight .fm { color: #0066bb; font-weight: bold } /* Name.Function.Magic */
.light .highlight .vc { color: #336699 } /* Name.Variable.Class */
.light .highlight .vg { color: #dd7700 } /* Name.Variable.Global */
.light .highlight .vi { color: #3333bb } /* Name.Variable.Instance */
.light .highlight .vm { color: #336699 } /* Name.Variable.Magic */
.light .highlight .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */