.admonition-title {
  position: relative;
  top: -20px;
  left: 16px;
  display: inline-block;
  min-width: 100px;
  max-width: 318px;
  padding: .3rem 1rem;
  margin: -1rem;
  font-weight: $font-weight-bold;
  color: var(--#{$prefix}body-hc-color);
  background-color: var(--#{$prefix}admon-note-color-bg);

  &::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: -.125em;
    content: "";
    background-repeat: no-repeat;
    // And below defined is the background-image, that is dependant
    // on the color-scheme to modify the 'fill' value, but with which
    // a css var can't be used.
  }
}

.admonition {
  padding: .7rem 1.2rem 1rem;
  margin: 2.5rem 2rem 2rem;
  background-color: theme-color-level("info", -11);
  border-radius: $border-radius;

  &:last-child {
    margin-bottom: 0;
  }

  // - attention ------------------------------------------------------
  &.attention {
    background-color: var(--#{$prefix}foot1-bg);
    border: 2px solid var(--#{$prefix}admon-attention-color-bg);

    .admonition-title {
      color: var(--#{$prefix}body-hc-color);
      background-color: var(--#{$prefix}admon-attention-color-bg);

      .light &::before {
        // BS https://icons.getbootstrap.com/icons/bell-fill/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-light-admon-svg-color}' fill-opacity='65%' viewBox='0 0 16 16'><path d='M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z'/></svg>");
      }

      .dark &::before {
        // BS https://icons.getbootstrap.com/icons/bell-fill/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-dark-admon-svg-color}' fill-opacity='95%' viewBox='0 0 16 16'><path d='M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z'/></svg>");
      }
    }
  }

  // - caution --------------------------------------------------------
  &.caution {
    background-color: var(--#{$prefix}foot1-bg);
    border: 2px solid var(--#{$prefix}admon-caution-color-bg);

    .admonition-title {
      color: var(--#{$prefix}body-hc-color);
      background-color: var(--#{$prefix}admon-caution-color-bg);

      .light &::before {
        // BS https://icons.getbootstrap.com/icons/umbrella-fill/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-light-admon-svg-color}' fill-opacity='65%' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 0a.5.5 0 0 1 .5.5v.514C12.625 1.238 16 4.22 16 8c0 0 0 .5-.5.5-.149 0-.352-.145-.352-.145l-.004-.004-.025-.023a3.484 3.484 0 0 0-.555-.394A3.166 3.166 0 0 0 13 7.5c-.638 0-1.178.213-1.564.434a3.484 3.484 0 0 0-.555.394l-.025.023-.003.003s-.204.146-.353.146-.352-.145-.352-.145l-.004-.004-.025-.023a3.484 3.484 0 0 0-.555-.394 3.3 3.3 0 0 0-1.064-.39V13.5H8h.5v.039l-.005.083a2.958 2.958 0 0 1-.298 1.102 2.257 2.257 0 0 1-.763.88C7.06 15.851 6.587 16 6 16s-1.061-.148-1.434-.396a2.255 2.255 0 0 1-.763-.88 2.958 2.958 0 0 1-.302-1.185v-.025l-.001-.009v-.003s0-.002.5-.002h-.5V13a.5.5 0 0 1 1 0v.506l.003.044a1.958 1.958 0 0 0 .195.726c.095.191.23.367.423.495.19.127.466.229.879.229s.689-.102.879-.229c.193-.128.328-.304.424-.495a1.958 1.958 0 0 0 .197-.77V7.544a3.3 3.3 0 0 0-1.064.39 3.482 3.482 0 0 0-.58.417l-.004.004S5.65 8.5 5.5 8.5c-.149 0-.352-.145-.352-.145l-.004-.004a3.482 3.482 0 0 0-.58-.417A3.166 3.166 0 0 0 3 7.5c-.638 0-1.177.213-1.564.434a3.482 3.482 0 0 0-.58.417l-.004.004S.65 8.5.5 8.5C0 8.5 0 8 0 8c0-3.78 3.375-6.762 7.5-6.986V.5A.5.5 0 0 1 8 0z'/></svg>");
      }

      .dark &::before {
        // BS https://icons.getbootstrap.com/icons/umbrella-fill/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-dark-admon-svg-color}' fill-opacity='95%' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 0a.5.5 0 0 1 .5.5v.514C12.625 1.238 16 4.22 16 8c0 0 0 .5-.5.5-.149 0-.352-.145-.352-.145l-.004-.004-.025-.023a3.484 3.484 0 0 0-.555-.394A3.166 3.166 0 0 0 13 7.5c-.638 0-1.178.213-1.564.434a3.484 3.484 0 0 0-.555.394l-.025.023-.003.003s-.204.146-.353.146-.352-.145-.352-.145l-.004-.004-.025-.023a3.484 3.484 0 0 0-.555-.394 3.3 3.3 0 0 0-1.064-.39V13.5H8h.5v.039l-.005.083a2.958 2.958 0 0 1-.298 1.102 2.257 2.257 0 0 1-.763.88C7.06 15.851 6.587 16 6 16s-1.061-.148-1.434-.396a2.255 2.255 0 0 1-.763-.88 2.958 2.958 0 0 1-.302-1.185v-.025l-.001-.009v-.003s0-.002.5-.002h-.5V13a.5.5 0 0 1 1 0v.506l.003.044a1.958 1.958 0 0 0 .195.726c.095.191.23.367.423.495.19.127.466.229.879.229s.689-.102.879-.229c.193-.128.328-.304.424-.495a1.958 1.958 0 0 0 .197-.77V7.544a3.3 3.3 0 0 0-1.064.39 3.482 3.482 0 0 0-.58.417l-.004.004S5.65 8.5 5.5 8.5c-.149 0-.352-.145-.352-.145l-.004-.004a3.482 3.482 0 0 0-.58-.417A3.166 3.166 0 0 0 3 7.5c-.638 0-1.177.213-1.564.434a3.482 3.482 0 0 0-.58.417l-.004.004S.65 8.5.5 8.5C0 8.5 0 8 0 8c0-3.78 3.375-6.762 7.5-6.986V.5A.5.5 0 0 1 8 0z'/></svg>");
      }
    }
  }

  // - danger -------------------------------------------------------
  &.danger {
    background-color: var(--#{$prefix}foot1-bg);
    border: 2px solid var(--#{$prefix}admon-danger-color-bg);

    .admonition-title {
      color: var(--#{$prefix}body-hc-color);
      background-color: var(--#{$prefix}admon-danger-color-bg);

      .light &::before {
        // BS https://icons.getbootstrap.com/icons/cone-striped/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-light-admon-svg-color}' fill-opacity='65%' viewBox='0 0 16 16'><path d='m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z'/></svg>");
      }

      .dark &::before {
        // BS https://icons.getbootstrap.com/icons/cone-striped/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-dark-admon-svg-color}' fill-opacity='95%' viewBox='0 0 16 16'><path d='m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z'/></svg>");
      }
    }
  }

  // - error ----------------------------------------------------------
  &.error {
    background-color: var(--#{$prefix}foot1-bg);
    border: 2px solid var(--#{$prefix}admon-error-color-bg);

    .admonition-title {
      color: var(--#{$prefix}body-hc-color);
      background-color: var(--#{$prefix}admon-error-color-bg);

      .light &::before {
        // BS https://icons.getbootstrap.com/icons/emoji-frown/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-light-admon-svg-color}' fill-opacity='65%' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z'/></svg>");
      }

      .dark &::before {
        // BS https://icons.getbootstrap.com/icons/emoji-frown/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-dark-admon-svg-color}' fill-opacity='95%' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z'/></svg>");
      }
    }
  }

  // - important ------------------------------------------------------
  &.important {
    background-color: var(--#{$prefix}foot1-bg);
    border: 2px solid var(--#{$prefix}admon-important-color-bg);

    .admonition-title {
      color: var(--#{$prefix}body-hc-color);
      background-color: var(--#{$prefix}admon-important-color-bg);

      .light &::before {
        // BS https://icons.getbootstrap.com/icons/hand-index/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-light-admon-svg-color}' fill-opacity='65%' viewBox='0 0 16 16'><path d='M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 1 0 1 0V6.435a4.9 4.9 0 0 1 .106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 0 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.035a.5.5 0 0 1-.416-.223l-1.433-2.15a1.5 1.5 0 0 1-.243-.666l-.345-3.105a.5.5 0 0 1 .399-.546L5 8.11V9a.5.5 0 0 0 1 0V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z'/></svg>");
      }

      .dark &::before {
        // BS https://icons.getbootstrap.com/icons/hand-index/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-dark-admon-svg-color}' fill-opacity='95%' viewBox='0 0 16 16'><path d='M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 1 0 1 0V6.435a4.9 4.9 0 0 1 .106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 0 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.035a.5.5 0 0 1-.416-.223l-1.433-2.15a1.5 1.5 0 0 1-.243-.666l-.345-3.105a.5.5 0 0 1 .399-.546L5 8.11V9a.5.5 0 0 0 1 0V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z'/></svg>");
      }
    }
  }

  // - note -----------------------------------------------------------
  &.note {
    background-color: var(--#{$prefix}foot1-bg);
    border: 2px solid var(--#{$prefix}admon-note-color-bg);

    .admonition-title {
      color: var(--#{$prefix}body-hc-color);
      background-color: var(--#{$prefix}admon-note-color-bg);

      .light &::before {
        // BS https://icons.getbootstrap.com/icons/clipboard2/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-light-admon-svg-color}' fill-opacity='85%' viewBox='0 0 16 16'><path d='M3.5 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5H12a.5.5 0 0 1 0-1h.5A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1H4a.5.5 0 0 1 0 1h-.5Z'/><path d='M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z'/></svg>");
      }

      .dark &::before {
        // BS https://icons.getbootstrap.com/icons/clipboard2/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-dark-admon-svg-color}' fill-opacity='95%' viewBox='0 0 16 16'><path d='M3.5 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5H12a.5.5 0 0 1 0-1h.5A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1H4a.5.5 0 0 1 0 1h-.5Z'/><path d='M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z'/></svg>");
      }
    }
  }

  // - tip ------------------------------------------------------------
  &.tip {
    background-color: var(--#{$prefix}foot1-bg);
    border: 2px solid var(--#{$prefix}admon-tip-color-bg);

    .admonition-title {
      color: var(--#{$prefix}body-hc-color);
      background-color: var(--#{$prefix}admon-tip-color-bg);

      .light &::before {
        // BS https://icons.getbootstrap.com/icons/paperclip/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-light-admon-svg-color}' fill-opacity='75%' viewBox='0 0 16 16'><path d='M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z'/></svg>");
      }

      .dark &::before {
        // BS https://icons.getbootstrap.com/icons/paperclip/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-dark-admon-svg-color}' fill-opacity='95%' viewBox='0 0 16 16'><path d='M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z'/></svg>");
      }
    }
  }

  // - warning --------------------------------------------------------
  &.warning {
    background-color: var(--#{$prefix}foot1-bg);
    border: 2px solid var(--#{$prefix}admon-caution-color-bg);

    .admonition-title {
      color: var(--#{$prefix}body-hc-color);
      background-color: var(--#{$prefix}admon-caution-color-bg);

      .light &::before {
        // BS https://icons.getbootstrap.com/icons/exclamation-diamond/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-light-admon-svg-color}' fill-opacity='70%' viewBox='0 0 16 16'><path d='M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z'/><path d='M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z'/></svg>");
      }

      .dark &::before {
        // BS https://icons.getbootstrap.com/icons/exclamation-diamond/
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$scheme-dark-admon-svg-color}' fill-opacity='95%' viewBox='0 0 16 16'><path d='M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z'/><path d='M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z'/></svg>");
      }
    }
  }
}
