.class {
  padding: .8rem;
  padding-top: .6rem;
  background-color: rgba(0, 0, 0, .2);
  border-radius: .25rem;

  .sig-object {
    font-size: large;
  }
}

/* SCSS / обычный CSS одинаковы */
:is(.method, .class, .function) + :is(.method, .class, .function) {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 2px solid var(--#{$prefix}border-color);
}

/* stylelint-disable selector-no-qualifying-type */
.sig:not(.sig-inline) {
  padding: .25rem .25rem .25rem .7rem;
  margin-right: -.25rem;
  margin-left: -.25rem;
  font-family: var(--#{$prefix}font-monospace);
  font-size: var(--#{$prefix}font-monospace-size);
  font-weight: var(--#{$prefix}code-font-weight);
  color: var(--#{$prefix}docapi-kw-color);
  background: var(--#{$prefix}secondary-bg);
  border-radius: .25rem;
  transition: background 100ms ease-out;

  a.reference {
    .viewcode-link {
      width: 3.5rem;
      font-weight: 400;
    }
  }

  em.property {
    font-style: italic;
    font-weight: 400;
  }

  em.sig-param {
    span.n:first-of-type {
      color: var(--nftt-cyan);
    }

    span.n:not(:first-of-type) {
      color: var(--nftt-code-color);
    }

    &:not(:has(.w)) span.o {
      margin: 7px;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    span.default_value {
      color: var(--nftt-code-color);
    }
  }

  dl {
    margin: 0;
    margin-left: 25px;
  }

  .sig-return-typehint {
    color: var(--nftt-code-color);
  }

  .sig-prename,
  .sig-name {
    // font-weight: var(--#{$prefix}code-font-weight);
    color: var(--#{$prefix}body-color);
  }
}

.viewcode-link {
  float: right;
  padding-left: 8px;
}

.viewcode-back {
  float: right;
  font-size: .8rem;
}
