/* stylelint-disable selector-no-qualifying-type */
.sig:not(.sig-inline) {
  padding: .25rem .25rem .25rem 3rem;
  margin-right: -.25rem;
  margin-left: -.25rem;
  font-family: var(--#{$prefix}font-monospace);
  font-size: var(--#{$prefix}font-monospace-size);
  font-weight: var(--#{$prefix}code-font-weight);
  color: var(--#{$prefix}docapi-kw-color);
  text-indent: -2.5em;
  background: var(--#{$prefix}secondary-bg);
  border-radius: .25rem;
  transition: background 100ms ease-out;

  a.reference {
    .viewcode-link {
      width: 3.5rem;
      font-weight: 400;
    }
  }

  em.property {
    font-style: italic;
    font-weight: 400;
  }

  .sig-prename,
  .sig-name {
    // font-weight: var(--#{$prefix}code-font-weight);
    color: var(--#{$prefix}body-color);
  }
}

.viewcode-link {
  float: right;
  padding-left: 8px;
}

.viewcode-back {
  float: right;
  font-size: .8rem;
}
