/* stylelint-disable selector-no-qualifying-type */
.headerlink {
  position: relative;
  font-size: .5em;
  visibility: hidden;

  &::after {
    /* stylelint-disable-next-line */
    font-family: bootstrap-icons;
    content: "\F4B4";
  }

  &:hover::after,
  &:hover {
    text-decoration: none;
  }
}

*:hover > .headerlink::after {
  visibility: visible;
}

/**
 * Tables.
 */

.nftt-table {
  position: relative;
  width: 100%;
  margin-bottom: $spacer;
  overflow-x: auto;

  .nftt-expand-container {
    position: sticky;
    left: 0;

    > .nftt-expand {
      position: absolute;
      right: 0;
      font-family: "bootstrap-icons"; /* stylelint-disable-line */
      line-height: .85;
      --nftt-btn-bg: var(--nftt-body-bg);
      --nftt-btn-font-size: .75rem;
    }
  }

  td ul {
    padding-left: 1rem;
  }
}

table th p:last-child,
table td p:last-child {
  margin-bottom: 0;
}

table.docutils {
  &:not(.field-list) {
    width: 100%;
    margin-top: $spacer;
    margin-right: auto;
    margin-bottom: $spacer;
    margin-left: auto;
    border: 0;
    border-color: var(--#{$prefix}pre-border-color);
    @extend .table;
    @extend .table-striped;

    > thead {
      border-top: var(--#{$prefix}table-thead-border-top) solid var(--#{$prefix}border-color);
    }

    > thead > tr > * {
      font-size: var(--#{$prefix}table-thead-font-size);
      background-color: var(--#{$prefix}body-bg);
    }

    > tbody {
      @extend .table-group-divider;
      border-color: var(--#{$prefix}border-color);
    }

    > tbody > tr > *,
    > tbody > tr code .pre {
      font-size: var(--#{$prefix}table-tbody-font-size);
    }


    .nftt-table--expand & {  /* stylelint-disable-line */
      margin-top: -$spacer;
    }
  }

  &.field-list {
    .field-name {
      padding-right: 1rem;
    }
  }

  caption {
    font-size: var(--#{$prefix}table-caption-font-size);
    text-align: var(--#{$prefix}table-caption-text-align);
    caption-side: var(--#{$prefix}table-caption-side);
  }

  &.align-left caption {
    text-align: left;
  }

  &.align-right caption {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }
}

.table-responsive {
  table.docutils {
    margin-bottom: 0;
  }

  margin-bottom: $spacer;
}

#nftt-modal-body {
  padding-top: 0;

  table.docutils {
    margin-top: 0;
    margin-bottom: 0;

    > thead {
      position: sticky;
      top: -1px;
      z-index: 10;
    }
  }
}

// Separate headings excluding the first.
.nftt-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // margin-top: $headings-margin-bottom * 4;
    // margin-bottom: $headings-margin-bottom * 2;

    margin-top: var(--#{$prefix}doc-headers-margin-top);
    margin-bottom: var(--#{$prefix}doc-headers-margin-bottom);
  }
}

span.math {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  padding-right: 4px;
  padding-left: 4px;
  overflow: hidden;
}

div.math {
  display: flex;
  flex-direction: row-reverse;
  gap: .5rem;
  align-items: center;
  max-width: 100%;
  overflow: hidden;

  .eqno {
    float: right;

    .headerlink::after {
      font-size: .7rem;
    }

    &:hover > .headerlink {
      position: relative;

      &::after {
        text-decoration: none;
        visibility: visible;
      }
    }
  }

  mjx-container {
    display: block;
    flex-grow: 1;
    padding-bottom: .2rem;
    margin: 1rem 0;
    text-align: center;
  }
}

.footnote-list {
  padding: 1rem .5rem .5rem;
  margin-top: 1rem;
  font-size: .9rem;

  .pre {
    font-size: 1rem;
  }

  &::before {
    display: block;
    margin-bottom: 12px;
    font-size: .75rem;
    color: var(--#{$prefix}secondary-color);
    text-transform: uppercase;
    content: "footnotes";
  }

  > .footnote.brackets {
    padding: 0 1rem;
    margin-bottom: 1rem;
    color: var(--#{$prefix}tertiary-color);

    .label {
      float: left;
      padding-right: 1.2rem;
    }

    .backrefs {
      float: left;
      padding-right: .5rem;
    }

    p {
      margin-bottom: .2rem;
    }

    &:target {
      color: var(--#{$prefix}body-color);

      .label::after {
        position: absolute;
        margin-top: 1px;
        content: "\F135";
        /* stylelint-disable-next-line */
        font-family: bootstrap-icons;
      }
    }
  }
}

.code-block-caption {
  padding-bottom: .5rem;
  text-align: center;
}

.highlight pre .linenos {
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #ddd;
}

.rubric {
  font-size: 1.1em;
  font-weight: 700;
}

.centered {
  text-align: center;
}

img.icon {
  .light & {
    filter: invert(0);
  }

  .dark & {
    filter: invert(1);
  }
}
