/* stylelint-disable selector-no-qualifying-type */
.navbar img {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  margin-bottom: 1rem;

  &.align-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  &.align-left {
    float: left;
    margin: .4rem 1.8rem .4rem 0;
  }

  &.align-right {
    float: right;
    margin: .4rem 0 .4rem 1.8rem;
  }
}

figure {
  img {
    margin-bottom: 0;
  }

  figcaption {
    padding: 0 .35rem;
    margin: 1rem 0 .5rem;
    font-size: .85rem;
    text-align: center;

    code * {
      font-size: .85rem;
    }
  }

  &.align-center {
    margin: 0 auto 1rem;

    figcaption {
      margin: 1rem auto .5rem;
    }

    p {
      text-align: center;
    }
  }

  &.align-left {
    float: left;
    margin: .4rem 1.8rem .4rem 0;
  }

  &.align-right {
    float: right;
    margin: .4rem 0 .4rem 1.8rem;
  }
}
