/* stylelint-disable selector-max-id, selector-max-type, selector-max-compound-selectors, selector-no-qualifying-type */
.toc {
  a {
    display: inline-block;
    width: 100%;
    padding: calc($spacer / 4);
    line-height: 1.25;
  }

  .reference:focus {
    border-color: $input-focus-border-color;
    border-radius: .25rem;
    outline: 0;
    @if $enable-shadows {
      @include box-shadow($input-box-shadow, $input-focus-box-shadow);
    } @else {
      box-shadow: $input-focus-box-shadow;
    }
  }

  li {
    margin: ($font-size-base * .25) 0;

    &[class^="toctree-"] {
      // Ensure the toctree-expand button can be positioned.
      position: relative;

      > a {
        padding-left: 2.1rem;
      }
    }
  }

  li:not(.toctree-l1) a {
    word-break: break-word;

    &.active {
      color: $primary;
    }
  }

  ul {
    padding-right: 4px;
    padding-left: 4px;
    list-style-type: none;
  }

  ul ul {
    padding-right: 0;
    margin-left: 8px;
  }

  .toctree-expand {
    position: absolute;
    top: -1px;
    left: 0;
    display: block;
    width: 2em;
    height: 2em;

    i {
      position: relative;
      top: -1px;
      left: -2px;
    }
  }

  .current > a {
    color: var(--#{$prefix}body-color);
    text-decoration: none;
    background-color: var(--#{$prefix}foot2-bg);

    > .toctree-expand {
      color: color-contrast($primary);
      background-color: $primary;
    }
  }

  .caption-text {
    margin: .5rem 0;
    font-size: 1.1rem;
    color: $gray-800;
  }

  > ul {
    .expand {
      > ul {
        /* stylelint-disable-next-line */
        display: block !important;
      }
    }
  }

  > ul:not(:last-child) {
    padding-bottom: $spacer;
    border-bottom: 1px solid var(--#{$prefix}border-color);
  }
}

.nftt-sidebar .title {
  display: block;
  margin-right: 16px;
  margin-bottom: 8px;
  font-size: .9rem;
  color: var(--#{$prefix}headings-color);
  text-align: center;
  text-transform: uppercase;
}

.nftt-sidebar-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.nftt-sidebar .toc {
  @include media-breakpoint-up(md) {
    width: 100%;
    margin-right: 16px;
    overflow-y: auto;
    font-size: .9rem;

    &:hover,
    &:focus {
      @include scrollbars();
    }
  }

  ul > li ul {
    display: none;
  }
}

.nftt-toc {
  @include media-breakpoint-up(lg) {
    position: sticky;
    top: 6rem;
    right: 0;
    z-index: 2;
    padding-right: .25rem;
    overflow-y: auto;

    @include scrollbars();
  }

  .title {
    font-size: .9rem;
    color: var(--#{$prefix}headings-color);
    text-transform: uppercase;
  }

  nav {
    @include font-size(.875rem);
    margin-left: .2rem;

    > ul > li,
    > ul > li.active {
      list-style-type: none;
    }

    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      ul {
        padding-left: .6rem;
        margin-left: .2rem;
        list-style-position: outside;
        list-style-type: circle;
        border-left: 1px solid var(--#{$prefix}border-color);
      }
    }

    a {
      display: inline;
      width: 100%;
      padding: 2px 8px 2px 0;
      margin-bottom: 1px;
      font-size: .8rem;

      &:not(:hover) {
        text-decoration: none;
      }

      code {
        font: inherit;
      }
    }

    li.active {
      list-style-type: disc;

      > a {
        color: var(--#{$prefix}link-hover-color);
      }
    }
  }
}

.nftt-toc-toggle {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(sm) {
    justify-content: space-between;
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    border: 1px solid $border-color;
    @include border-radius(.4rem);

    &:hover,
    &:focus,
    &:active,
    &[aria-expanded="true"] {
      color: $link-color;
      background-color: $white;
      border-color: var(--#{$prefix}link-decoration-color);
    }

    &:focus,
    &[aria-expanded="true"] {
      box-shadow: 0 0 0 3px rgba(var(--#{$prefix}link-decoration-color-rgb), .25);
    }
  }
}

.nftt-toc-collapse {
  @include media-breakpoint-down(md) {
    nav {
      padding: 1.25rem;
      background-color: $gray-100;
      border: 1px solid var(--#{$prefix}link-border-color);
      @include border-radius(.25rem);
    }
  }

  @include media-breakpoint-up(md) {
    display: block !important; // stylelint-disable-line declaration-no-important
    margin-top: 1.1rem;
  }
}

.nftt-content {
  .toctree-wrapper {
    li {
      margin: .25rem 0;
    }

    .caption {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}

#table-of-contents {
  li > p {
    margin-bottom: .3rem;
  }

  .topic-title {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

li > p {
  margin-bottom: .5rem;
}
