/* Variable font: Exo.
 * Fallback to static font files in case the
 * browser doesn't support variable fonts.
 */

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Exo';
    src: url('Exo-VariableFont_wght.ttf') format("woff2-variations"),
         url('Exo-VariableFont_wght.ttf') format("woff2");
    font-weight: 400 700;
  }
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: 'Exo';
    src: url('Exo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Exo';
    src: url('Exo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
}
