/* Variable font: Exo.
 * Fallback to static font files in case the
 * browser doesn't support variable fonts.
 */

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Exo';
    src: url('Exo-VariableFont_wght.ttf') format("woff2-variations"),
         url('Exo-VariableFont_wght.ttf') format("woff2");
  }
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: 'Exo';
    src: url('Exo-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'Exo';
    src: url('Exo-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Exo';
    src: url('Exo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Exo';
    src: url('Exo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Exo';
    src: url('Exo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Exo';
    src: url('Exo-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Exo';
    src: url('Exo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Exo';
    src: url('Exo-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: 'Exo';
    src: url('Exo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
}
