name: tests
on:
  push:
    branches:
      - main
  pull_request:

env:
  FORCE_COLOR: true
  NODE: 20
  PYTHON: 3.13

permissions:
  contents: read

jobs:
  syntax-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "${{ env.NODE }}"
          cache: npm
      - name: Install npm dependencies
        run: npm ci
      - uses: actions/setup-python@v5
        with:
          python-version: "${{ env.PYTHON }}"
          cache: pip
      - name: Install pip dependencies
        run: pip install .[dev]
      - name: Run make lint
        run: make lint

  python-sphinx:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sphinx: ["7.3", "7.4", "8.0", "8.1"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "${{ env.PYTHON }}"
          cache: pip
      - name: Install deps
        run: pip install tox
      - name: Run unit tests
        run: tox -e py3.13-sphinx${{ matrix.sphinx }}

  javascript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "${{ env.NODE }}"
          cache: npm
      - name: Install npm dependencies
        run: npm ci
      - name: Run unit tests
        run: npm run test
